<div class="container mt-5">
  <div class="col-6 mx-auto d-block">
    <h2 class="text-center text-primary">Create Feature</h2>
    <form #createFeatureForm="ngForm">
      <div class="row mb-3">
        <label for="title" class="col-md-2 col-form-label">Title</label>
        <div class="col-md-10">
          <input
            type="text"
            id="title"
            class="form-control"
            [(ngModel)]="feature.title"
            name="title"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="description" class="col-md-2 col-form-label"
          >Description</label
        >
        <div class="col-md-10">
          <textarea
            id="description"
            class="form-control"
            [(ngModel)]="feature.description"
            name="description"
            required
          ></textarea>
        </div>
      </div>
      <div class="row mb-3">
        <label for="estimatedComplexity" class="col-md-2 col-form-label"
          >Estimated Complexity</label
        >
        <div class="col-md-10">
          <select
            class="form-select"
            [(ngModel)]="feature.estimatedComplexity"
            name="estimatedComplexity"
          >
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
            <option value="XL">XLarge</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="status" class="col-md-2 col-form-label">Status</label>
        <div class="col-md-10">
          <select
            class="form-select"
            [(ngModel)]="feature.status"
            name="status"
          >
            <option value="New">New</option>
            <option value="Active">Active</option>
            <option value="Closed">Closed</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="targetCompletionDate" class="col-md-2 col-form-label"
          >Target Completion Date</label
        >
        <div class="col-md-10">
          <input
            type="date"
            class="form-control"
            [(ngModel)]="feature.targetCompletionDate"
            name="targetCompletionDate"
            pattern="^(19[4-9]\d|20[0-2]\d)-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$"
          />
          <div
            *ngIf="
              createFeatureForm.controls['targetCompletionDate']?.invalid &&
              createFeatureForm.controls['targetCompletionDate']?.touched
            "
            class="text-danger"
          >
            <div
              *ngIf="createFeatureForm.controls['targetCompletionDate']?.errors?.['pattern']"
            >
              Date must be between 1940 and 2030.
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="actualCompletionDate" class="col-md-2 col-form-label"
          >Actual Completion Date</label
        >
        <div class="col-md-10">
          <input
            type="date"
            class="form-control"
            [(ngModel)]="feature.actualCompletionDate"
            name="actualCompletionDate"
            pattern="^(19[4-9]\d|20[0-2]\d)-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$"
          />
          <div
            *ngIf="
              createFeatureForm.controls['actualCompletionDate']?.invalid &&
              createFeatureForm.controls['actualCompletionDate']?.touched
            "
            class="text-danger"
          >
            <div
              *ngIf="createFeatureForm.controls['actualCompletionDate']?.errors?.['pattern']"
            >
              Date must be between 1940 and 2030.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-2">
          <button
            type="submit"
            class="btn btn-primary me-3"
            [disabled]="!createFeatureForm.form.valid"
            (click)="onSubmit()"
          >
            Create
          </button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
