<div class="container mt-5">
  <h2 class="text-center text-primary">Product Management</h2>
  <button class="btn btn-success" routerLink="/create-feature">
    Create Feature
  </button>
  <table class="table table-bordered table-hover mt-4">
    <thead class="table-dark">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Title</th>
        <th class="text-center">Description</th>
        <th class="text-center">Estimated Complexity</th>
        <th class="text-center">Status</th>
        <th class="text-center">Target Completion Date</th>
        <th class="text-center">Actual Completion Date</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td class="text-center">{{ product.productId }}</td>
        <td class="text-center">{{ product.title }}</td>
        <td class="text-center">{{ product.description }}</td>
        <td class="text-center">{{ product.estimatedComplexity }}</td>
        <td class="text-center">{{ product.status }}</td>
        <td class="text-center">
          {{
            product.targetCompletionDate
              ? (product.targetCompletionDate | date : "d MMM yyyy")
              : "---"
          }}
        </td>
        <td class="text-center">
          {{
            product.actualCompletionDate
              ? (product.actualCompletionDate | date : "d MMM yyyy")
              : "---"
          }}
        </td>
        <td class="text-center">
          <div class="d-flex flex-wrap justify-content-center">
            <a
              [routerLink]="['/edit-product', product.productId]"
              class="btn btn-warning btn-sm me-1 mb-1 equal-width-button"
              >Edit</a
            >
            <button
              class="btn btn-danger btn-sm mb-1 equal-width-button"
              (click)="deleteProductWithConfirmation(product.productId)"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="products.length === 0" class="text-center text-muted mt-3">
    No products available.
  </p>
</div>
