<div class="container mt-5">
  <div *ngIf="product" class="mt-4 col-md-7 mx-auto">
    <h3 class="text-center text-primary">Edit Product</h3>
    <form #editForm="ngForm">
      <div class="row mb-3">
        <label for="title" class="col-md-3 col-form-label">Title</label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            [(ngModel)]="product.title"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="description" class="col-md-3 col-form-label"
          >Description</label
        >
        <div class="col-md-9">
          <textarea
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="product.description"
            required
          ></textarea>
        </div>
      </div>
      <div class="row mb-3">
        <label for="estimatedComplexity" class="col-md-3 col-form-label"
          >Estimated Complexity</label
        >
        <div class="col-md-9">
          <select
            class="form-select"
            id="estimatedComplexity"
            name="estimatedComplexity"
            [(ngModel)]="product.estimatedComplexity"
          >
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="status" class="col-md-3 col-form-label">Status</label>
        <div class="col-md-9">
          <select
            class="form-select"
            id="status"
            name="status"
            [(ngModel)]="product.status"
          >
            <option value="New">New</option>
            <option value="Active">Active</option>
            <option value="Closed">Closed</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="targetCompletionDate" class="col-md-3 col-form-label"
          >Target Completion Date</label
        >
        <div class="col-md-9">
          <input
            type="date"
            class="form-control"
            id="targetCompletionDate"
            name="targetCompletionDate"
            [(ngModel)]="product.targetCompletionDate"
            pattern="^(19[4-9]\d|20[0-2]\d)-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$"
          />
          <div
            *ngIf="
              editForm.controls['targetCompletionDate']?.invalid &&
              editForm.controls['targetCompletionDate']?.touched
            "
            class="text-danger"
          >
            <div
              *ngIf="editForm.controls['targetCompletionDate']?.errors?.['pattern']"
            >
              Date must be between 1940 and 2030.
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="actualCompletionDate" class="col-md-3 col-form-label"
          >Actual Completion Date</label
        >
        <div class="col-md-9">
          <input
            type="date"
            class="form-control"
            id="actualCompletionDate"
            name="actualCompletionDate"
            [(ngModel)]="product.actualCompletionDate"
            pattern="^(19[4-9]\d|20[0-2]\d)-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$"
          />
          <div
            *ngIf="
              editForm.controls['actualCompletionDate']?.invalid &&
              editForm.controls['actualCompletionDate']?.touched
            "
            class="text-danger"
          >
            <div
              *ngIf="editForm.controls['actualCompletionDate']?.errors?.['pattern']"
            >
              Date must be between 1940 and 2030.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 offset-md-3">
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-danger me-2"
              (click)="cancelEdit()"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="saveProduct()"
              [disabled]="editForm.invalid"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
